<footer class="footer">

			<div class="footer-socials">
				<a href="#"><i class="fa fa-facebook"></i></a>
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-instagram"></i></a>
			</div>

			<div class="footer-bottom">
				<i class="fa fa-copyright"></i> Copyright 2017. All rights reserved.<br>
			</div>
		</footer>

		<!-- Bootstrap core JavaScript
			================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/jquery.bxslider.js"></script>
		<script src="/js/mooz.scripts.min.js"></script>
        <!-- DataTables JavaScript -->
        <script src="/datatables/js/jquery.dataTables.min.js"></script>
        <script src="/datatables-plugins/dataTables.bootstrap.min.js"></script>
        <script src="/datatables-responsive/dataTables.responsive.js"></script>

		<script type="text/javascript">
            $(document).ready(function (){
	            $('#offcanvasleft').click(function() {
	              $('.row-offcanvas-left').toggleClass('active');
	            });
                $('#cmtBut').click(function(e) {
                  if(!$("#content").val()){
                     alert("Please enter comment...");
                     e.preventDefault();; 
                  }
                });
                $('#dataTables-example').DataTable({
                    responsive: true
                });
            });
           

    	</script>
    	<script type="text/javascript">
            
            $(document).ready(function() {
             	$("#post").click(function(e){
             		var flag = 0;
             		if(!$("#title").val()){
             			flag=1;
             			$('#title-alert').append("<p style='color: red;''>Please enter post title</p>").delay(2000).slideUp();
             		}
             		if(!$("#content").val()){
             			flag=1;
             			$('#content-alert').append("<p style='color: red;''>Please enter post content</p>").delay(2000).slideUp();
             		}
             		if(flag==1){
             			e.preventDefault();
             		}
             	});
            });


   		 </script>
	</body>
</html>