<div class="container">
			<div class="row">		
	 			<div class="col-md-12">
	 				<article class="blog-post">
	 					<div class="blog-post-body">
	 						   <!-- Content Header (Page header) -->
							    <section class="content-header">
							      <h1>
							        Về chúng tôi
							      </h1>
							      <ol class="breadcrumb">
							        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
							        <li class="active">Về chúng tôi</li>
							      </ol>
							    </section>
	 						<div class="blog-post-text">

	 							<div class="row" style="margin-top: 10px">
							         <div class="col-md-8 col-md-offset-2">
							            <div class="modal-content">
								            <div class="modal-body">
								                <div class="row">
								                    <div class="col-sm-4 col-md-3">
								                    	<center>
								                        <img src="https://scontent.fsgn2-1.fna.fbcdn.net/v/t1.0-9/17634847_1404563326281227_5140743837930292682_n.jpg?oh=213c57b149e5306b34a01a41d6b516f9&oe=59905D4D" width="200" height="200" border="0" align="center" class="img-circle" />
								                        <h4> 1412579</h4>
								                        <h3 class="media-heading">Vũ Minh Trí <small>HCMUS</small></h3>
								                        </center>
								                    </div>
								                    <div class="col-sm-8 col-md-9" style="margin-top: 20px">
								                    	
								   		                <p><strong>Skills: </strong>
		 							                        <span class="label label-warning">HTML/CSS/Bootstrap</span>
		 							                        <span class="label label-success">Database/SQL</span>
		 							                        <span class="label label-success">PHP/Laravel</span>
		 							                        <span class="label label-danger">.Net/C#</span><h4></p>
		 							                     <hr>
			 							                <center>
						 							  		<p class="text-left"><strong>About me: </strong><br>
			 							                        Là người ham học giỏi, thích cập nhật các công nghệ mới, tự nhận mình là người học khá chậm, nhưng luôn cố gắng siêng năng để bù cái ngu!!!<br>
			 							                        Ahihi!</p>
			 							                </center>
											        </div>
								             	</div>
							                </div>
							            </div>
							        </div>
								</div>

								<div class="row" style="margin-top: 30px">
							         <div class="col-md-offset-2 col-md-8">
							            <div class="modal-content">
								            <div class="modal-body">
								                <div class="row">
								                    <div class="col-sm-4 col-md-3">
								                    	<center>
								                        <img src="https://avatars3.githubusercontent.com/u/26793399?v=3&u=b5503c394cd5b92756c719c56570c1fc66dcf3ba&s=400" width="200" height="200" border="0" align="center" class="img-circle" />
								                        <h4> 1412564</h4>
								                        <h3 class="media-heading">Trần Thùy Bích Trâm <small>HCMUS</small></h3>
								                        </center>
								                    </div>
								                    <div class="col-sm-8 col-md-9" style="margin-top: 20px">
								                    	
								   		                <p><strong>Skills: </strong>
		 							                        <span class="label label-warning">HTML/CSS</span>
		 							                        <span class="label label-info">Database/SQL</span>
		 							                        <span class="label label-info">Microsoft Office</span>
		 							                        <span class="label label-success">Bootstrap</span><h4></p>
		 							                     <hr>
			 							                <center>
						 							  		<p class="text-left"><strong>About me: </strong><br>
			 							                        Là người hòa đồng, thích du lịch, nghe nhạc. Làm gì cũng chậm hơn so với người khác. Nhưng sẽ cố gắng để đạt được những gì mình mong muốn! ^^</p>
			 							                </center>
											        </div>
								             	</div>
							                </div>
							            </div>
							        </div>
								</div>
							</div>
						</div>

						<div class="blog-post-body row" style="margin-top: 20px">
	 						<h1>My school</h1>
	 						<center>
	 							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.6343350735315!2d106.67983811435032!3d10.7626390923309!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f1c06f4e1dd%3A0x43900f1d4539a3d!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBLaG9hIGjhu41jIFThu7Egbmhpw6pu!5e0!3m2!1svi!2s!4v1491842553036" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
	 						</center>
	 						
 						</div>
					</article>
				</div>
			</div>
 		</div>