<div class="container-fluid">
<form action="/compose" method="POST">
<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Soạn email
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li class="active">Mailbox</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
    <div class="row">
        <div class="col-md-3">
          <a href="/mailbox" class="btn btn-primary btn-block margin-bottom">Trở về hộp thư đến</a>
      {{> email-leftside}}


        <!-- /.col -->
        <div class="col-md-9">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Compose New Message</h3>
            </div>
            <!-- /.box-header -->

            <div class="box-body">
              <div class="form-group">
                <label>Người nhận: </label>
                  <select name="receive_id" class="form-control select2">
                  {{#each friend_list}}
                    <option value="{{friend_id}}">{{ fullname }} - {{ email }}</option>
                  {{/each}}
                  </select>
                </div>
                <div class="form-group">
                <label>Tên subject: </label>
                <input name="sbjName" class="form-control" placeholder="To:" required />
              </div>
              </div>
              <div class="form-group" >
              <div class="box-body">
                <button class="btn btn-success" id="watch-btn">Bật chế độ live view</button>
                <button class="btn btn-danger" id="unwatch-btn">Tắt chế độ live view</button>
             </div>

              <div id="compose">
                <textarea name="content" style="display:none;">[TOC]

#### Disabled options

- TeX (Based on KaTeX);
- Emoji;
- Task lists;
- HTML tags decode;
- Flowchart and Sequence Diagram;

#### Editor.md directory

    editor.md/
            lib/
            css/
            scss/
            tests/
            fonts/
            images/
            plugins/
            examples/
            languages/     
            editormd.js
            ...

```html
&lt;!-- English --&gt;
&lt;script src="../dist/js/languages/en.js"&gt;&lt;/script&gt;

&lt;!-- 繁體中文 --&gt;
&lt;script src="../dist/js/languages/zh-tw.js"&gt;&lt;/script&gt;
```
</textarea>
            </div>
              </div>
              <div class="form-group">
                
              </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
              <div class="pull-right">
                <button type="submit" class="btn btn-primary"><i class="fa fa-envelope-o"></i> Send</button>
              </div>
              <button type="reset" class="btn btn-default"><i class="fa fa-times"></i> Discard</button>
            </div>
            <!-- /.box-footer -->
          </div>
          <!-- /. box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
    
    </div>

  </footer>

  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->
</form>
</div>

<script src="/js/jquery.js"></script>
<script src="/js/editormd/editormd.min.js"></script>

<script type="text/javascript">
            var compose;

            $(function() {
                compose = editormd("compose", {
                    width   : "100%",
                    height  : 640,
                    syncScrolling : "single",
                    path    : "../lib/"
                });
                
            });


             $("#watch-btn").click(function(e){
                    compose.watch();
                    e.preventDefault()
                });
                
                $("#unwatch-btn").click(function(e){
                    compose.unwatch();
                    e.preventDefault()
                });
</script>