<div class="col-md-6 col-md-offset-3">
      <div class="box box-primary">
        <div class="box-header with-border">
            <section class="content-header">
              <h1>
                Người dùng
              </h1>
              <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Người dùng</li>
              </ol>
            </section>

            <div class="box-tools pull-right">
                <div class="has-feedback" style="margin-bottom: 10px">
                    <input type="text" class="form-control input-sm" placeholder="Search">
                    <span class="glyphicon glyphicon-search form-control-feedback"></span>
                </div>
            </div>
          <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body no-padding">
          <div class="table-container">
            <table class="table">
                <tbody>
                <tr data-status="pagado">
                    <td>
                        <div class="media media-middle">
                            <div class="pull-left">
                                <img src="/images/img_1.jpg" class="media-object" style="width:60px; height:60px">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Nguyễn Ngọc Anh</h4>
                                <p>Trường Đại học Khoa học Tự Nhiên</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="button" style="margin-top: 14px">
                            <button type="submit" class="btn btn-primary">Add</button>
                        </div>  
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="media media-middle">
                            <div class="pull-left">
                                <img src="/images/img_1.jpg" class="media-object" style="width:60px; height:60px">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Nguyễn Ngọc Anh</h4>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="button" style="margin-top: 14px">
                            <button type="submit" class="btn btn-primary">Add</button>
                        </div>  
                    </td>
                </tr>
              <tr>
                <td>
                    <div class="media media-middle">
                        <div class="pull-left">
                            <img src="/images/img_1.jpg" class="media-object" style="width:60px; height:60px">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Trần Gia Huy</h4>
                            <p>Trường Đại học Khoa học Tự Nhiên</p>
                        </div>
                    </div>
                    <td>
                        <div class="button" style="margin-top: 14px">
                            <button type="submit" class="btn btn-primary">Add</button>
                        </div>  
                    </td>
                </td>
              </tr>
              
              </tbody>
            </table>
            <!-- /.table -->
          </div>
          <!-- /.mail-box-messages -->
        </div>


    

{{{ body }}}
    


    

    <!-- jQuery -->
    <script src="../public/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../public/js/bootstrap.min.js"></script>